body {
  background-color: #effffd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 968px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(#777777, 0.5);
  background: #f9fbff;
  opacity: 0.85;
}

.commentBlock {
  font-weight: 400;
  border-radius: 20px;
  padding: 8px 15px;
  margin-bottom: 1rem;
  color: #343435;
}
